{% extends '_base.html' %}


{% block content %}
    <h1>Hello World!</h1>

    <form method="POST" action="/submit">
        {{ form.hidden_tag() }}

        {% for field in form if field.type != 'CSRFTokenField' %}
            <div>
                {% if field.type == 'BooleanField' %}
                    {{ field }}
                    {{ field.label }} 
                {% else %}
                    {{ field.label }}
                    {{ field }}
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit">Submit</button>
    </form>
{% endblock %}